@model IEnumerable<Proyecto1_Juan_Palacios.Models.EncargadoEvento>

@{
    ViewBag.Title = "Encargado de Eventos";
}

<body>
    <div style="background-color:#393939" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" runat="server" href="~/">Proyecto de Arquitectura</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a runat="server" href="~/">Inicio</a></li>
                    <li><a runat="server" href="~/Artistas/Index">Artistas</a></li>
                    <li><a runat="server" href="~/EncargadoEventoes/Index">Encargado de Eventos</a></li>
                    <li><a runat="server" href="~/Grupos/Index">Grupos</a></li>
                    <li><a runat="server" href="~/Shows/Index">Shows</a></li>
                    <li><a runat="server" href="~/Contact.aspx">Desarrollador</a></li>
                </ul>
            </div>
        </div>
    </div>

    <style>
        a{
            color:aliceblue;
        }

        a:hover{
            color:aliceblue
        }
    </style>

        <h2>Agregar Encargados de Eventos</h2>

        <p class="btn btn-primary btn-lg">
            @Html.ActionLink("Create New", "Create")
        </p>

        <table class="table">
            <br />
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NombreEncargado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TelefonoEncargado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmailEncargado)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreEncargado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TelefonoEncargado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailEncargado)
                    </td>
                    <td>
                        <p class="btn btn-primary btn-lg">@Html.ActionLink("Edit", "Edit", new { id = item.ID_Encargado })</p>
                        <p class="btn btn-primary btn-lg">@Html.ActionLink("Details", "Details", new { id = item.ID_Encargado })</p>
                        <p class="btn btn-primary btn-lg">@Html.ActionLink("Delete", "Delete", new { id = item.ID_Encargado })</p>
                    </td>
                </tr>
            }

        </table>
</body>