@model Proyecto1_Juan_Palacios.Models.Show

@{
    ViewBag.Title = "Details";
}

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" runat="server" href="~/">Proyecto de Arquitectura</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a runat="server" href="~/">Inicio</a></li>
                    <li><a runat="server" href="~/Shows/Index">Menú Shows</a></li>
                </ul>
            </div>
        </div>
    </div>

    <style>
        a {
            color: aliceblue;
        }

            a:hover {
                color: aliceblue
            }
    </style>

    <h2>Details</h2>

    <div>
        <h4>Show</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NombreShow)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NombreShow)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Fecha_Evento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fecha_Evento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HoraEvento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HoraEvento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cantidad)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cantidad)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Artista.NombreArtista)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Artista.NombreArtista)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EncargadoEvento.NombreEncargado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EncargadoEvento.NombreEncargado)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Grupos.NombreGrupo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Grupos.NombreGrupo)
            </dd>

        </dl>
    </div>
    <p>
        <p class="btn btn-primary btn-lg">
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Show })
        </p>
        <p class="btn btn-primary btn-lg">
            @Html.ActionLink("Back to List", "Index")
        </p>
    </p>
</body>