@model IEnumerable<Proyecto1_Juan_Palacios.Models.Show>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreShow)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Evento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraEvento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artista.NombreArtista)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EncargadoEvento.NombreEncargado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grupos.NombreGrupo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreShow)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Evento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraEvento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Artista.NombreArtista)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EncargadoEvento.NombreEncargado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grupos.NombreGrupo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Show }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Show }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Show })
        </td>
    </tr>
}

</table>
