@model IEnumerable<Proyecto1_Juan_Palacios.Models.Grupos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreGrupo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailGrupo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreGrupo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailGrupo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Grupo }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Grupo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Grupo })
        </td>
    </tr>
}

</table>
