@model Proyecto1_Juan_Palacios.Models.Artista

@{
    ViewBag.Title = "Delete";
}

<body>

    <div style="background-color:#393939" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" runat="server" href="~/">Proyecto de Arquitectura</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a runat="server" href="~/">Inicio</a></li>
                    <li><a runat="server" href="~/Artistas/Index">Menú Artistas</a></li>
                </ul>
            </div>
        </div>
    </div>

    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Artista</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NombreArtista)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NombreArtista)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmailArtista)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmailArtista)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="tn btn-primary btn-lg" />
                <br /><br />
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>